/* #871f3e  #871f72  #681f87  #341f87  #1f3e87  #1f7287 */

h1 {
  color: #1f3e87;
  text-align: center;
}

h2 {
  color: #1f3e87;
  text-align: center;
}

h3{
  color: #1f3e87;
}

p {
  color: #1f3e87;
}

ul {
  color: #1f3e87;
}

button{
  height: 3%;
  width: 3%;
  float: right;
  background-color: #1f3e87;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  border-color: #1f3e87;
  color: white;
}

.gallerypic {
  width: 50%;
  height: auto;
  display: block;
  margin-left:25%;
  margin-top:5%;
}

.heading {
  background-color: white;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-bottom-color: #1f3e87;
}

div.gallery1 {
  border: 3px solid #1f3e87; 
  border-radius: 5%;
  width: 100%; 
  display: block;
  margin-left:100%;
}

div.gallery2 {
  border: 3px solid #1f3e87; 
  border-radius: 5%;
  width: 100%; 
  display: block;
  margin-left:50%
  /* position: relative; 
  left: 100%; */
}

div.gallery3 {
  border: 3px solid #1f3e87;
  border-radius: 5%;
}

div.desc {
  padding: 15px;
  text-align: center;
  color: #1f3e87
}

div.desc > a {
  color:#1f3e87;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 33.3332%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.flex-container > div {
  width: 30%;
  margin: 10px;
  text-align: center;
  border-radius: 20px;
  background-color: #341f87;
}

.flex-container > div:hover:not(.active) {
  background-color: #681f87;
}

.flex-container > .active {
  background-color: #871f72;
}

.flex-container > div > a { 
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 8px;
}

.reflinks {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  bottom: 0;
  border-top: solid;
  border-top-width: 1px;
  border-top-color: #1f3e87;
}

.reflinks > div{
  margin: 10px;
}

.reflinks > div:not(.contact) {
  margin: 6px;
  width: 20%;
  text-align: center;
  border: 2px;
  border-radius: 20px;
  background-color: #341f87;
}

.reflinks > div:hover:not(.contact) {
  background-color: #681f87;
}

.reflinks > div > a { 
  display: inline-block;
  color: white;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  padding: 8px;
}

/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 9.09%;
  padding: 1px;
}

/* Style the images inside the grid */
.column img {
  cursor: pointer; 
  border: 3px solid #1f3e87; 
  border-radius: 2%;
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container */
.container {
  width: 25%;
  position:relative;
  display: none;
  left:37.5%;
}

/* Closable button inside the expanded image */
.closebtn {
  position: relative;
  top: 30px;
  left: 92%;
  color: white;
  font-size: 35px;
  cursor: pointer;
}